*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 90%;
    margin: auto;
    padding: 20px;
}

form[name="form"]{
    width: 100%;
    min-height: 50px;
}


#inputText{
    width: 70%;
    margin-right: 5%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

#buttonAdd{
    width: 25%;
    height: 40px;
    border: none;
    color: white;
    background-color: greenyellow;
    border-radius: 5px;
}

