*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.table{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.elementTable{
    width: 16.5%;
    height: 100%;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}


.nameTable,
.rowTable{
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.buttonEdit,
.buttonDelete{
   width: 60px;
   height: 30px;
   border: none;
   border-radius: 10px;
}

.buttonEdit,
.buttonDelete{
   width: 60px;
   height: 30px;
   border: none;
   border-radius: 10px;
}

#inputChange{
    width: 70%;
    margin-right: 5%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
}

#buttonSave{
    width: 25%;
    height: 40px;
    border: none;
    color: white;
    background-color: greenyellow;
    border-radius: 5px;
}

form[name="form1"]{
    width: 70%;
    min-height: 50px;
    margin: 20px auto;
}