<div class="container">
    <div class="home-item">
        <img src="assets/images/cenzor-img.jpg" class="home-item-foto" alt="Моя фотографія">
        <p class="home-item-describe">Angular list of prohibited words</p>
        <button type="button" [routerLink]="['/works/cenzor']" class="home-item-details">details</button>
    </div>
    <div class="home-item">
        <img style="margin-bottom: 25px;" src="assets/images/users-img.jpg" class="home-item-foto" alt="Моя фотографія">
        <p class="home-item-describe">Angular users list</p>
        <button type="button" [routerLink]="['/works/users']" class="home-item-details">details</button>
    </div>
    <div class="home-item">
        <img src="assets/images/task-img.jpg" class="home-item-foto" alt="Моя фотографія">
        <p class="home-item-describe">Angular task list</p>
        <button type="button" [routerLink]="['/works/task']" class="home-item-details">details</button>
    </div>
</div>